[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
	branch = master
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
