version: 1.0.{build}
branches:
  only:
  - prod
skip_tags: true
image: Visual Studio 2022
configuration: Release
platform: x64
before_build:
- git submodule update --init --recursive
- ps: tools\windows\premake5.exe vs2022
build:
  project: build/gsc-tool.sln
  verbosity: minimal
test: false
artifacts:
- path: build/bin/x64/release/gsc-tool.exe
deploy:
- provider: GitHub
  auth_token:
    secure: VTY5eMFd/IOYDIZQeMM0J0uYss+wmTwreE+Hi0lXAQABQ/4igmCvqCFZ5DsrWhY/
  on:
    branch: prod
